/* Общие стили */
@font-face {
    font-family: 'Roboto';
    src: url('/static/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-y: hidden; /* Отключаем вертикальный скроллинг */
}

.header {
    background: white;
    text-align: center;
    padding: 15px;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Увеличить расстояние между кнопками */
    padding: 40px; /* Увеличить отступы */
    max-height: calc(100vh - 150px); /* Ограничиваем высоту меню */
    overflow-y: auto; /* Добавляем скроллинг только для меню */
}

.menu-vertical button {
    padding: 40px 80px; /* Увеличить высоту и ширину кнопок */
    border: none;
    border-radius: 20px; /* Большие радиусы скругления */
    background: #ff0000; /* Красный фон */
    color: white;
    cursor: pointer;
    font-size: 36px; /* Увеличить размер текста */
    width: 90%; /* Занимать 90% ширины экрана */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Более заметная тень */
}

.content {
    padding: 20px;
    min-height: 60vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ff0000; /* Красный фон */
    color: white;
    padding: 30px; /* Увеличить отступы */
    display: flex;
    justify-content: space-around;
}

.footer button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer img {
    width: 60px;
    height: 60px;
}

.cart-button {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Тень вокруг кнопки */
}

.cart-button::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 4px solid white; /* Белая обводка */
    border-radius: 50%;
}

/* Стили для контента */
.content ul {
    list-style-type: none;
    padding: 0;
}

.content li {
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content a {
    color: blue;
    text-decoration: underline;
}
