/* Общие стили */
@font-face {
    font-family: 'Roboto';
    src: url('/static/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto';
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-y: hidden; /* Отключаем вертикальный скроллинг */
    height: 100vh; /* Ограничиваем высоту страницы */
    display: flex;
    flex-direction: column;
}
.menu-vertical {
    display: flex;
    margin-top: 20px; /* Отступ под шапку */
    margin-bottom: 60px; /* Отступ под нижнее меню */
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Расстояние между кнопками */
    padding: 40px 20px 20px; /* Отступы сверху, слева/справа и снизу */
    max-height: calc(95vh - 200px); /* Ограничиваем высоту меню */
    overflow-y: auto; /* Добавляем скроллинг только для меню */
}
.menu-vertical button {
    padding: 20px 30px; /* Увеличить высоту и ширину кнопок */
    border: none;
    border-radius: 10px; /* Большие радиусы скругления */
    background: #ff0000; /* Красный фон */
    color: white;
    cursor: pointer;
    font-size: 30px; /* Увеличить размер текста */
    width: 90%; /* Занимать 90% ширины экрана */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Более заметная тень */
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    text-align: center;
    padding: 15px;
    z-index: 10;
    box-sizing: border-box;
}

.logo {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.content {
    padding: 20px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    padding: 20px 40px;
    font-size: 50px;
    border: none;
    border-radius: 10px;
    background: #ff0000;
    color: white;
    cursor: pointer;
    width: 90%;
    text-align: center;
}

h3 {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}
p {
    font-size: 12px; /* Размер шрифта параграфа */
    text-align: left;
}
.footer-buttons {
    position: fixed; /* Фиксируем блок внизу */
    bottom: 0;
    width: 100%;
    height: 20px; /* Высота блока */
    background: #ff0000; /* Красный фон */
    display: flex;
    align-items: center; /* Выровнять кнопки по центру по вертикали */
    justify-content: space-around;
    z-index: 10;
}

#home-button {
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; /* Отступ от левого края */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    display: flex;
    align-items: center; /* Выровнять иконку по центру */
    justify-content: center; /* Выровнять иконку по центру */
    background: transparent; /* Прозрачный фон */
    border: none; /* Убрать границы */
    cursor: pointer;
}

#login-button {
    position: absolute; /* Абсолютное позиционирование */
    right: 20px; /* Отступ от правого края */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    display: flex;
    align-items: center; /* Выровнять иконку по центру */
    justify-content: center; /* Выровнять иконку по центру */
    background: transparent; /* Прозрачный фон */
    border: none; /* Убрать границы */
    cursor: pointer;
}

.footer-buttons img {
    width: 20px; /* Размер иконки */
    height: 20px; /* Размер иконки */
}

.cart-button-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    z-index: 10; /* Находится выше фона */
}

.cart-button {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 10; /* Находится выше фона */
}

.cart-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid white;
    border-radius: 50%;
}

.cart-button img {
    width: 80px;
    height: 80px;
    filter: brightness(0) invert(1);
    z-index: 20; /* Находится выше фона */
}

/* Стили для кнопки "Назад" */
#back-button {
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; /* Отступ от левого края */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    top: 50%; /* Выравнивание по вертикали */
    transform: translateY(-50%); /* Центрирование по вертикали */
    display: flex;
    align-items: center; /* Выровнять иконку по центру */
    justify-content: center; /* Выровнять иконку по центру */
    background: transparent; /* Прозрачный фон */
    border: none; /* Убрать границы */
    cursor: pointer;
    padding: 0; /* Убрать внутренние отступы */
    z-index: 10; /* Размещение поверх других элементов */
}

/* Стили для иконки внутри кнопки */
#back-button img {
    vertical-align: middle; /* Корректировка позиции иконки */
    width: 20px; /* Размер иконки */
    height: 20px;
}
/* Общий контейнер для динамического контента */
#content {
    opacity: 1; /* Начальная прозрачность */
    transition: opacity 0.5s ease-in-out; /* Плавный переход */
}

/* Стиль для скрытия контента */
#content.hidden {
    opacity: 0; /* Только прозрачность */
    transition: opacity 0.5s ease;
}
