<!DOCTYPE html>
<html>
<head>
    <title>Выбор города</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="header">
        <button onclick="window.history.back()" style="position: absolute; left: 20px; top: 50%; transform: translateY(-50%);">
            <img src="/static/back.svg" alt="Назад">
        </button>
        <img src="/static/logo22.png" alt="Логотип" class="logo">
    </div>

    <div class="content">
        <h3>Города в области "{{ region }}":</h3>
        {% for city in cities %}
            <button onclick="window.location.href='/stores/{{ region }}/{{ city }}'">{{ city }}</button>
        {% endfor %}
    </div>

    <div class="footer-buttons">
        <button onclick="goHome()">
            <img src="/static/home.svg" alt="Домой">
        </button>
        <button onclick="auth()">
            <img src="/static/login.svg" alt="Авторизация">
        </button>
    </div>

    <script>
        function goHome() {
            window.Telegram.WebApp.close(); // Закрыть приложение
        }

        function auth() {
            alert("Функция авторизации в разработке!");
        }
    </script>
</body>
</html>
